/* global.css */

/* Header 样式 */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #5DADE2; 
    color: white;
    padding: 10px 20px;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar {
    flex: 1;
    margin: 0 20px;
  }
  
  .user-actions {
    display: flex;
    gap: 10px;
  }
  
  .header-categories {
    background-color: #85C1E9; 
    color: white;
  }
  
  .header-categories .el-menu-item:hover {
    background-color: #3498DB; 
  }
  
  .header-subcategories {
    background-color: #85C1E9; 
    color: white;
  }
  
  .header-subcategories .el-menu-item:hover {
    background-color: #3498DB; 
  }
  
  .home-link {
    cursor: pointer;
    color: white;
  }
  
  .home-link:hover {
    text-decoration: underline;
  }
  
  /* 按钮样式 */
  .custom-button {
    background-color: #5DADE2; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }
  
  .custom-button:hover {
    background-color: #3498DB; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .custom-button:active {
    background-color: #21618C; 
  }
  
  .custom-button:focus {
    outline: none;
    box-shadow: 0px 0px 8px #5DADE2; 
  }
  .shopping-list-container {
    position: absolute;
    padding: 10px;
    background-color: #06647a;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    cursor: pointer;
  }
  
  .shopping-list {
    font-family: Arial, sans-serif;
  }
  
  .shopping-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .item-details {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    align-items: center; 
  }
  
  .item-name {
    flex: 3; 
    text-align: left;
  }
  
  .item-quantity {
    flex: 1;
    text-align: center; 
  }
  
  .item-price {
    flex: 1;
    text-align: right; 
  }
  
  .checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .checkout-btn:hover {
    background-color: #45a049;
  }